
<link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
 
  
<%= stylesheet_link_tag 'blog-form.css' %>

<h1 style="text-align:center;">Nueva entrada al Blog</h1>

<%= render "form", blog: @blog %>

<br>

<div>
  <%= link_to "Back to blogs", blogs_path %>
</div>
